h1 {
			color:blue;
			font-size:36px;
			font-family:arial;
			text-align:center;
		}
		h2 {
		    color:blue;
			font-size:28px;
			font-family:arial;
			text-align:center;
		}
		p {
		   text-align:right;
		}